# Ignorar entornos virtuales
.venvWS/
env/

# Ignorar archivos de configuración de editores
.vscode/
.idea/

# Ignorar datos crudos o sensibles
*.json

# Archivos temporales de Python
__pycache__/
.gitignore
*.pyc
*.pyo
README-noshare.md
README-noshare.PDF
README-noshare.HTML
*MUNICIPALIDADES.xlsx
*SECTORES.xlsx
requirements_d.txt
d_analysis-noshare.ipynb

# Archivos de logs
*.log
