# Ignorar entornos virtuales
.venvWS/
env/

# Ignorar archivos de configuración de editores
.vscode/
.idea/

# Ignorar datos crudos o sensibles
*.json

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
z_test.py

# Archivos de logs
*.log
